<div class="homepage-header">
  <img src="/assets/images/logo.png" class="logo"/>
</div>
<div class="img2-bck"></div>
{{!-- general header --}}
<LinkTo @route="cart" class="cart-link"> <i class="fa fa-shopping-cart"></i> </LinkTo>

<img src="/assets/images/pet6.png" alt="" class="img1"/>

<h7 class="header-text">Working to give your pet</h7>
<h8 class="header-text1">the life they deserve?</h8>
<h5 class="header-text2">Us Too</h5>

<h7 class="header-text3">Only the best products</h7>
<h8 class="header-text4">for you and your</h8>
<h5 class="header-text5">Pet</h5>


<img src="/assets/images/pet8.png" alt="" class="img2" />

<main class="">
 
{{!-- where the content goes --}}
    {{yield}}

</main>